extends layout

block content
  h1 #[em Toy Weapons Co]

  if error
    p Error getting dynamic content.
  else
    p We have the following record counts:

    table
      tr
        td #[strong Ammo Types:]
        td !{data.ammoCount}
      tr
        td #[strong Ammo Stocked:]
        td !{data.ammoinstanceCount}
      tr
        td #[strong Manufacturers]
        td !{data.manufacturerCount}
      tr
        td #[strong Weapon Classes:]
        td !{data.classCount}
      tr
        td #[strong Weapon Types:]
        td !{data.weaponCount}
      tr
        td #[strong Weapons in Stock:]
        td !{data.weaponinstanceCount}
